<h1><%= @recipe.name %></h1>

<%= image_tag(@recipe.image_url, :alt => @recipe.name) %>

<h4>Dish Type: <%= @recipe.dish_type %></h4>
<h4>Difficulty Level: <%= @recipe.difficulty %></h4>
<h5>Time to Make: <%= @recipe.time %> Minutes</h5>
<h5>Servings: <%= @recipe.servings %></h5>
<h5>Vegetarian: <%= @recipe.is_vegetarian %></h5>

<p><%= sanitize @recipe.summary %></p>

<h2>Ingredients:</h2>
<ol>
    <% @recipe.recipe_ingredients.each do |ing| %>
        <li><%= "#{ing.amt} #{ing.unit} of #{ing.ingredient.name}" %></li>
    <% end %>
</ol>

Directions:
<%= sanitize @recipe.instructions %>


<p><% if Favorite.find_by(user_id: @current_user.id, recipe_id: @recipe.id) %>
    <% fav = Favorite.find_by(user_id: @current_user.id, recipe_id: @recipe.id) %>
    <%= form_tag favorite_path(fav), method: :delete do %>
        <%= hidden_field_tag :id, fav.id %>
        <%= hidden_field_tag :recipe, @recipe.id %>
        <%= submit_tag "Remove From Favorites" %>
    <% end %>
<% else %>
    <%= form_tag favorites_path do %>
        <%= hidden_field_tag :recipe_id, @recipe.id %>
        <%= submit_tag "Add to Favorites" %>
    <% end %>
<% end %>
</p>