<div style="text-align: center;">
    <%= image_tag("change.gif", :alt => "rss feed") %>
<h1>Edit Your Account Information</h1>


<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p style="color:red;"><%= error %></p>
    <% end %>
<% end %>

<%= form_for @user do |f| %>
    <p><%= f.label :first_name %></p>
    <p><%= f.text_field :first_name %></p>
    <p><%= f.label :last_name %></p>
    <p><%= f.text_field :last_name %></p>
    <p><%= f.label :username  %></p>
    <p><%= f.text_field :username  %></p>
    <p><%= f.label :password  %></p>
    <p><%= f.password_field :password  %></p>
    <p><%= f.label "Confirm Password"  %></p>
    <p><%= f.password_field :password_confirmation  %></p>

<p><%=f.submit "Update Information" %></p>
<% end%>
</div>

<div style="text-align: center;">
    
<h2>Delete Account</h2>
<%= image_tag("delete.gif", :alt => "rss feed") %>
<%= button_to "Permanently Delete Account", user_path(@user), method: :delete, confirm: "Are you sure you want to delete your account?"%>
</div>