<div style="text-align:center">
<h1 style="font-size: 40px;"><%= @ingredient.name %></h1>

<%= image_tag(@ingredient.image, :alt => @ingredient.name, :size => "150x150") %>

<h3><%= "Add #{@ingredient.name} to your fridge" %></h3>
<%= form_tag user_ingredients_path do %>
    <%= hidden_field_tag :user_id, @current_user.id %>
    <%= hidden_field_tag :ingredient_id, @ingredient.id %>
    <%= label_tag "Amount" %>
    <%= number_field_tag :amount, nil, min: 0.01, step: 0.01 %>
    <%= label_tag "Unit of Measurement" %>
    <%= select_tag :unit, options_for_select(@units) %>
    <%= submit_tag "Add Ingredient" %>
<% end %>
<br>
<%= image_tag("ing.gif", :alt => "i like that", :size => "500x281") %>

</div>